<div class="col-md-12">
    <div class="row box">
      <div class="box-inner col-md-6 col-md-offset-3">
        <h1 class="title">孤獨的閱讀者</h1><br>
        <h3 class="subtitle">敢於知道 不啻燎原</h3><br>
        <p class="slogan">打破“知識的詛咒”，做宏大理想的捍衛者
          <br>

        </p>
        <p class="lead">
          <%= link_to '我要等船', jobs_path, class: 'btn btn-danger' %>
        </p>
      </div>
    </div>
  </div>


  <div class="content-section-a">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-sm-12">

            <div class="clearfix"></div>
            <h2 class="section-heading">职位需求</h2>
            <hr class="section-heading-spacer">
            <p class="lead">希望你是这样的勇士</p>
          </div>
                       <div class="col-sm-6 col-md-4">
                          <div class="thumbnail">
                              <h4><%= link_to("运营经理", jobs_path) %></h4>
                              <hr />
                              <div class="caption">
                                <div class="col-sm-6 col-md-4">
                                  <img src="http://ww3.sinaimg.cn/large/006tNc79ly1feu9ewjf3nj30k00wg0u5.jpg" height="500" width="300" />
                                  <!-- <%= image_tag 'operation.png' %> -->
                                </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-sm-6 col-md-4">
                           <div class="thumbnail">
                               <h4><%= link_to("设计师", jobs_path) %></h4>
                               <hr>
                               <div class="caption">
                                 <div class="col-sm-6 col-md-4">
                                   <img src="http://ww4.sinaimg.cn/large/006tNc79ly1feu9gqsep9j30mw14mwfr.jpg" height="500" width="300" />
                                 </div>
                             </div>
                           </div>
                         </div>

                         <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <h4><%= link_to("产品经理", jobs_path) %></h4>
                                <hr>
                                <div class="caption">
                                  <img src="http://ww1.sinaimg.cn/large/006tNc79ly1feu9h7p19fj30ki0zkacf.jpg" height="500" width="300" />
                                    
                                  </div>
                              </div>
                            </div>
                          </div>
            <!-- nic助教的图片位置<div class="col-lg-5 col-lg-offset-2 col-sm-6">
            <%= image_tag 'pic-1.jpg', class: 'img-responsive' %> -->
          </div>
        </div>
      </div>
    </div>

    <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">

          <div class="clearfix"></div>
          <h2 class="section-heading">葛 旭</h2>
          <hr class="section-heading-spacer">
          <p class="lead">“孤独的阅读者”创始人</p>
          <p class="lead">北京琢磨文化传播有限公司合伙人</p>
          <p class="lead">前北京新东方托福课程研发负责人</p>
          <p class="lead">北京琢磨文化传播有限公司合伙人</p>
          <p class="lead">绰号&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“长发魔男”、&nbsp;&nbsp;&nbsp;“船长”</p>
          <p class="lead">曾 长期盘踞保加利亚、波兰和墨西哥</p>
          <p class="lead">北京大学历史学系拉丁美洲史</p>
          <p class="lead">英西汉三语者，法语、拉丁文加成</p>
          <p class="lead">旅居东欧拉美多年</p>
          <p class="lead">游历欧美数十国</p>
          <p class="lead">现坐标波士顿</p>

        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <%= image_tag 'pic-2.png', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">

          <div class="clearfix"></div>
          <h2 class="section-heading">那六个孤独的故事<br></h2>
          <hr class="section-heading-spacer">
          <p class="description">这六个故事已经传播很久了，它们不仅仅是我投身西学的经验之谈，</p>
          <p class="description">而承载着我对无知与不义的愤怒，对真理与良知的信仰。</P>
          <p class="description">“孤独的阅读者”是一个渴望时代英雄的理想。</P>
          <p class="description">我希望那些铮铮铁骨、眼睛中闪耀着光芒的英雄将会从你们中冉冉升起。</P>
          <p class="description">踏上孤独之旅，请从这篇旧文开始。</P>
              <a target="_blank" href="http://t.cn/RXo0uZN">阅读全文</a></p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>
